<!DOCTYPE html>
<html>
<head>
    <% include ../partials/stylesheets.ejs %>
    <title><%= config.siteTitle %></title>
</head>
<body>

<% include ../partials/header.ejs %>

<div class="container">
    <% include ../partials/error-messages.ejs %>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>
