<html>
<head>
    <title>Log In</title>
    <% include ../partials/stylesheets.ejs %>
</head>
<body>
<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <% include ../partials/left-side.ejs %>
        </div>
        <div class="col-md-4">
            <form class="form-signin" role="form" action="/login" method="post">
                <h1>Welcome Back!</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required
                       autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
</body>
</html>